.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: rgb(10, 10, 10);
	height: 4rem;
}

.nav h1 {
	font-family: var(--font-press-start);
}

.nav * {
	margin: 10px 10px;
}

.RightSide {
	margin-left: auto;
	align-items: center;
	display: flex;
}

.RightButton {
	margin-left: auto;
}
